<section class=" w-full bg-main-splash min-h-screen flex items-center justify-center">
  <div class="w-full flex flex-col items-center justify-center">
    <%= image_tag @logo, :alt => 'user-logo', class: 'w- rounded-l' %>
<!--    <%#= link_to "Log in", user_session(resource_name), class: 'hover:text-darkGrayishBlue' %><br />-->
  </div>
</section>